@{
    ViewBag.Title = "Импорт товаров";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2>Импорт товаров</h2>
<ul>
@*
    <li>
        @Html.ActionLink("Импорт данных с сайта Sprinter", "Sprinter", "Import")
    </li>
*@
    <li>
        <b>@Html.ActionLink("Заливка рекомендованных цен", "Recommended", "Import")</b>
    </li>
    <li>
        <b>@Html.ActionLink("Заливка прайсов в стандартном формате", "Universal", "Import")</b>
    </li>
    <li>
        @Html.ActionLink("Импорт описаний с сайта Sprinter", "SprinterDescription", "Import")
    </li>
    <li>
        @Html.ActionLink("Импорт комментариев с сайта Sprinter", "SprinterReviews", "Import")
    </li>
    <li>
        @Html.ActionLink("Импорт новинок с сайта Sprinter", "NewsList", "Import")
    </li>
    <li>
        @Html.ActionLink("Импорт раздела 'Печать по требованию'", "OnDemand", "Import")
    </li> 
    <li>
        @Html.ActionLink("Импорт раздела 'Канцелярские товары'", "ServiceTorg", "Import")
    </li> 
     <li>
        @Html.ActionLink("Импорт каталога игрушек", "Toys", "Import")
    </li>
     <li>
        @Html.ActionLink("Учкнига", "UchKniga", "Import")
    </li>
    <li>
        @Html.ActionLink("Эксмо", "Eksmo", "Import")
    </li>
    <li>
        @Html.ActionLink("Абрис", "Abris", "Import")
    </li>
    <li>
        @Html.ActionLink("Лабиринт", "Labirint", "Import")
    </li>
    <li>
        @Html.ActionLink("Логосфера", "Logosfera", "Import")
    </li>
    <li>
        @Html.ActionLink("Кнорус", "Knorus", "Import")
    </li>
    <li>
        @Html.ActionLink("Британия", "Britania", "Import")
    </li>
    <li>
        @Html.ActionLink("Релод", "Relod", "Import")
    </li>
    <li>
        @Html.ActionLink("Глобус", "Globus", "Import")
    </li>
    <li>
        @Html.ActionLink("ИП Яковлев", "Yakovleff", "Import")
    </li>
    <li>
        @Html.ActionLink("Белый город", "WhiteTown", "Import")
    </li>
    <li>
        @Html.ActionLink("36,6", "Thirty", "Import")
    </li>
    <li>
        @Html.ActionLink("Юрайт", "Urait", "Import")
    </li>

</ul>
